.profile-container{
    background-color: lightblue;
    margin: 5rem auto;
    width: fit-content;
    min-width: 50vw;
    max-width: 70vw;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    padding: 1rem;
    display: flex;
    position: relative;
}
.avatar-container h3{
    text-align: center;
}
.avatar-container img{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    margin-right:0.5rem;
}

.details-container{
    /* background-color: rgb(225, 127, 255); */
    width: 100%;
}

.details-part1{
    /* background-color: rgb(81, 255, 0); */
    margin: 1rem;
    padding: 0.2rem;
    display: flex;
   justify-content: space-evenly;
    
}
.details-part1 div{
    position: inherit;
    margin: 0.2rem;
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    width: auto;
}

.details-part2{
    margin: 1rem auto;
    padding: 1rem;
    /* background-color: bisque; */
}

@media only screen and (max-width: 650px) {
  .profile-container{
    flex-direction: column;
  }
  .avatar-container{
      align-items: center;
      margin: 1rem auto;
  }
}