
.navbar{
    background-color: #3498db;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding:0 2%;
    margin: 0;
    z-index: 10;
  
}

.logo{
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
 
}
.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.navbar-links{
    height: 100%;
}
.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: baseline;
}

.navbar-links li a{
    display: block;
    /* background-color: aqua; */
    text-decoration: none;
    color: white;
    padding: 1rem;
}




.navbar-links  button{
    font: inherit;
    background-color: #0a588b;
    border: 2px solid white;
    color:white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}
.navbar-links a:hover {
  background-color: #0a588b;
  /* color: black; */
}

.navbar-links button:hover {
  background-color: #3498db;
  /* color: transparent; */
}
.navbar-links button:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    margin: 0.3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 1% 1%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
