
.navbar{
    background-color: #3498db;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding:0 2%;
    margin: 0;
    transition: all 1s ease-out;
    z-index: 10;
}

.logo{
    font-size: 1.5rem;
    margin: 1rem;
    color: white;
 
}
.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.navbar-links{
    height: 100%;
    
}
.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: baseline;
    transition: all 1s ease-in-out;
}

.navbar-links li a{
    display: block;
    margin: 0.5rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 2.3px;
    transition: all 0.5s ease-out;
}




.navbar-links  button{
    font: inherit;
    background-color: #3498db;
    border: 1.5px solid white;
    color:white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 0.4rem;
}
.navbar-links a.active{
    background-color: #2b77aa;
}
.navbar-links a:hover{
  background-color: #0a588b;
  /* color: black; */
}

.navbar-links button:hover {
  background-color: #0a588b;
  
  /* color: transparent; */
}
.navbar-links button:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }
.toggle-button {
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
    margin: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;

}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.logo:hover{
    color:rgb(227, 232, 233);
}
@media (max-width: 800px) {
    .navbar {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 1% 1%;
      
        }
    .logo{
        
        font-size: 1.5rem;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;

    }

    .navbar-links ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 1s ease-out;

        
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;

         
    }

    .navbar-links.active {
      
        display: flex;
      
    }
    .navbar-links  button{
        margin: 0.6rem auto;
    }
}
